<section class="flex flex-col bg-gradient justify-center items-center gap-16 py-20">
    <h2 class="font-bold text-4xl text-[#F17228]">How does it works</h2>
    <div class="flex px-40 gap-14">
        <div class="features">
            <div class="pb-6">
                <img src="/map-marker.svg" alt="map-marker" class="size-24" loading="lazy"/>
            </div>
            <p class="text-[#434343] font-extrabold text-lg">Select location</p>
            <p class="text-[#9A9898] font-base text-base">Choose the location where your food will be delivered.</p>
        </div>
        <div class="features ">
            <div class="pb-6">
                <img src="/menu.svg" alt="menu" class="size-24" loading="lazy"/>
            </div>
            <p class="text-[#434343] font-extrabold text-lg">Choose order</p>
            <p class="text-[#9A9898] font-base text-base">Check over hundreds of menus to pick your favorite food</p>
        </div>
        <div class="features ">
            <div class="pb-6">
                <img src="/invoice.svg" alt="invoice" class="size-24" loading="lazy"/>
            </div>
            <p class="text-[#434343] font-extrabold text-lg">Pay advanced</p>
            <p class="text-[#9A9898] font-base text-base">It's quick, safe, and simple. Select several methods of payment</p>
        </div>
        <div class="features">
            <div class="pb-6">
                <img src="/donut.svg" alt="donut" class="size-24" loading="lazy"/>
            </div>
            <p class="text-[#434343] font-extrabold text-lg">Enjoy meals</p>
            <p class="text-[#9A9898] font-base text-base">Food is made and delivered directly to your home.</p>
        </div>
    </div>
</section>

<style>
    .features{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
    }

    .bg-gradient{
        background: linear-gradient(180deg, rgba(255, 207, 103, 0.11)0%, rgba(255,255,255,1) 100%);
    }
</style>